---
import BaseLayout from '$layouts/BaseLayout.astro'
import Curve from '$includes/Curve.astro'
import { Icon } from 'astro-icon';
// if you have an markdownfile with the layout reference, than everything
// inside the markdownfile (not the Frontmatter), gets passed inside the
// layout component via slot. Here we have another astro component which
// is defines the Page layout, here is where the meta data is, maybe the
// navigation -> things that every page has in common


const {content} = Astro.props
const {principles, tools} = content

---
    
<BaseLayout>
    <slot />
    <main>
        <header>
            hi
            <h1>{ content.title }</h1>
            <p>{ content.summary }</p>
            <Curve />
        </header>
        <article>
            <h2>{ principles.title }</h2>
            <ul>
                {principles.items.map(({title,summary})=>(
                    <h2>{title}</h2>
                    <p>{summary}</p>
                ) )}
            </ul>
        </article>
        <div>
            <Curve />
            <div>
                <blockquote>
                    <p>{principles.quote}</p>
                </blockquote>
            </div>
            <Curve />
        </div>
        <article>
            <slot />
        </article>
        <article>
            <Curve />
            <h2>{tools.title}</h2>
            <p>{tools.summary}</p>
            <ul>
                {tools.items.map(({title, link,summary,icon})=>(
                <li>
                    <Icon name={icon.slice(0,-4)} />
                    <h3>
                        <a href={link}>{title}</a>
                    </h3>
                    <p>{summary}</p>
                </li>
                ))}
            </ul>
        </article>
            <div>
                <h1>test</h1>
                <p>test2</p>
            </div>
    </main>
</BaseLayout>
